<h1>Lucky Cat Tap</h1>

<p>
  Coins are dropping from the sky, and Lucky wants them all! Guide Lucky in this fun and whimsical game to collect as many coins as possible.
  If you’re lucky and catch a falling star, you can help her spread her newfound fortune to the world!
</p>

<section>
  <b>Download:</b> <%= link_to "iOS Version", 'http://bit.ly/rnCTSG' %> | <%= link_to "Android Version", 'http://bit.ly/oj0e25' %>
  <%= image_tag('lucky_cat_tap_banner.png') %>
</section>

<h3>Game features</h3>
<ul>
  <li>A main-game and a mini-game, with possibly more mini-games to come!</li>
  <li>It’s FREE</li>
  <li>Different power-ups to help you along the way</li>
  <li>Retina graphics</li>
  <li>Openfeint and Facebook enabled</li>
  <li>More features, pending feedback!</li>
</ul>

<div class='images-scroll'>
  <ul>
    <li><%= image_tag('splash.png') %></li>
    <li><%= image_tag('gameplay.png') %></li>
    <li><%= image_tag('gameplay2.png') %></li>
    <li><%= image_tag('minigame.png') %></li>
    <li><%= image_tag('charm.png') %></li>
  </ul>
</div>

Send comments, suggestions, or questions to higheaglestudios@gmail.com 
